<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'ABN', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'Notes', notes_path %></li>
        <li><%= link_to 'Users', users_path %></li>
        <!--<li class="navbar-right"><%= link_to current_user.name, users_list_path %></li>-->
      </ul>
      <p class="nav navbar-text navbar-right">User: <%=link_to current_user.name, users_list_path %></p>
    </div>     <!-- /.navbar-collapse -->
  </div>     <!-- /.container-fluid -->
</nav>
