<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @book.user_id %>
</p>
<br />

<p>
  <strong>Rating:</strong>
  <%= @book.ratings.average('score') %>
</p>

<%= form_for @rating do |f| %>
    <% (1..10).each do |i| %>
        <%= f.label i %>
        <%= f.radio_button :score, i %>
    <% end %>
    <%= f.hidden_field :user_id,value:@rating.user.id %>
    <%= f.hidden_field :book_id,value:@rating.book.id %>
    <br/>
    <%= f.submit 'set rating' %>
<% end %>

<ol>
  Notes

  <%= render :partial => "/notes/note", :collection => @book.notes if @book.notes %>

</ol>
<%= link_to "Add note", new_note_path(note: {user_id: current_user.id, book_id: @book.id}) %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
