<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @book.user_id %>
</p>
<ol>
  Notes

  <%= render :partial => "/notes/note", :collection => @book.notes if @book.notes %>

</ol>
<%= link_to "Add note", new_note_path(note: {user_id: current_user.id, book_id:@book.id}) %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
